@model IEnumerable<AvivCRM.UI.Areas.Environment.ViewModels.TicketGroupVM>

<div class="modal fade" Id="mdlTicketGroupShow">
	<div class="modal-dialog" Id="PlaceHolderHere">
	</div>
</div>

<div class="row">
	<div class="col-12 col-lg-12">

		<div class="card" style="">

			<div class="card-header">
				<div class="row align-items-center">
					<div class="col">
						<h4 class="card-title">TicketGroup Index</h4>
					</div><!--end col-->
					<div class="col-auto">
						<button type="button" class="btn btn-de-primary" data-toggle="ajax-modal"
						        data-target="#mdlTicketGroupShow" data-url="@Url.Action("Create")">
							<i class="fas fa-plus me-2"></i>Add TicketGroup
						</button>
					</div><!--end col-->
				</div> <!--end row-->
			</div><!--end card-header-->

			<div class="card-body">
				<div class="row mb-3">
					<div class="table-responsive">
						<table class="table mb-0">
							<thead class="thead-light">
							<tr>
								<th class="d-none">@Html.DisplayNameFor(m => m.Id)</th>
								<th>Name</th>
								<th>Action</th>
							</tr>
							</thead>
							<tbody>
							@if (Model != null)
							{
								@foreach (var item in Model)
								{
									<tr>
										<td class="d-none">@Html.DisplayFor(modelItem => item.Id)</td>
										<td>@item.Name</td>
										<td>
											<button type="button" class="custombuttonaslink" data-toggle="ajax-modal"
											        data-target="#mdlTicketGroupShow" data-url="@Url.Action($"Edit/{item.Id}")">
												<i class="las la-pen text-secondary font-16"></i>
											</button>
											<a id="deleteLS" name="Id" href="#" class="ms-2" data-toggle="ajax-modal"
											   data-url="@Url.Action($"Delete/{item.Id}")">
												<i class="las la-trash-alt text-secondary font-16"></i>
											</a>
										</td>
									</tr>
								}
							}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
     var PlaceHolderElement = $('#PlaceHolderHere');

    //SweetAlert Declaration
    const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
            confirmButton: "btn btn-de-primary",
            cancelButton: "btn btn-de-danger me-2"
        },
        buttonsStyling: false
    });

    // Script for Popup of Create & Edit
       $('button[data-toggle="ajax-modal"]').click(function (event) {
           //$("#divBlocker").removeClass("d-none").addClass("screenblocker");
           var url = $(this).data('url');
           var decodedUrl = decodeURIComponent(url);
           $.get(decodedUrl).done(function (data, status) {
               PlaceHolderElement.html(data);
               //$("#divBlocker").addClass("d-none").removeClass("screenblocker");
               if ((PlaceHolderElement.find('.modal').length) == 0) {
                   PlaceHolderElement.parents('.modal').modal('show');
               }
               else {
                   PlaceHolderElement.find('.modal').modal('show');
               }
           })
       });



       PlaceHolderElement.on('click', '[data-save="modal"]', function (event) {

           if ((document.querySelector('div[id="divErrorList"]') === null) != true) {
               $("#divErrorList").remove();
           }
           event.preventDefault();

           $.ajax({
               type: 'POST',
               url: $(this).parents('.modal').find('form').attr('action'),
               data: $(this).parents('.modal').find('form').serialize(),
               success: function (response) {

                   if (response.success) {
                       var urlEndPoint = $('.modal-body').find('form').attr('data-url');
                       if (urlEndPoint == 'Create') { urlEndPoint = "Created"; urlEndPointIcon = "success"; }
                       else if (urlEndPoint == 'Edit' || urlEndPoint == 'Update') { urlEndPoint = "Updated"; urlEndPointIcon = "warning"; }
                       else { urlEndPoint = "Completed"; urlEndPointIcon = "success"; }
                       swalWithBootstrapButtons.fire({
                           title: urlEndPoint + "!",
                           text: urlEndPoint + " successfully!",
                           icon: urlEndPointIcon,
                           allowOutsideClick: false
                       }).then(okay => {
                           if (okay) {
                               location.reload();
                           }
                       });
                   } else {
                       // Display validation errors
                       if ((document.querySelector('div[id="divErrorList"]') === null) != true) {
                           $("#divErrorList").remove();
                       }
                        var errors = response.errors;
                        var errorList = '<ul>';
                        for (var i = 0; i < errors.length; i++) {
                            errorList += '<li>' + errors[i] + '</li>';
                        }
                        errorList += '</ul>';
                        $('.modal-body').prepend('<div id="divErrorList" class="alert alert-danger">' + errorList + '</div>');
                   }
               },
               error: function (error) {
                   alert('Error submitting form');
               }
           });
       });

       $('a[data-toggle="ajax-modal"]').click(function (event) {
           event.preventDefault();


           swalWithBootstrapButtons.fire({
               title: "Are you sure?",
               text: "Do You want to delete this?",
               icon: "warning",
               showCancelButton: true,
               confirmButtonText: '<i class="mdi mdi-check-all me-2"></i>Delete',
               cancelButtonText: '<i class="mdi mdi-window-close me-2"></i>Close',
               // confirmButtonText: "Yes, delete it!",
               // cancelButtonText: "No, cancel!",
               reverseButtons: true,
               allowOutsideClick: false
           }).then((result) => {
               if (result.isConfirmed) {
                   decodedUrl = decodeURIComponent((this).dataset.url);
                   $.ajax({
                       type: 'POST',
                       url: decodedUrl,
                       data: {},
                       success: function (response) {
                           //$("#mdlLeadSourceShow .modal-body").html(response);

                           if (response.success) {
                               swalWithBootstrapButtons.fire({
                                   title: "Deleted!",
                                   text: "Deleted successfully!",
                                   icon: "success",
                                   allowOutsideClick: false
                               }).then(okay => {
                                   if (okay) {
                                       location.reload();
                                   }
                               });
                           } else {
                               // Display validation errors
                               $("#divErrorList").remove();
                               var errors = response.errors;
                               var errorList = '<ul>';
                               for (var i = 0; i < errors.length; i++) {
                                   errorList += '<li>' + errors[i] + '</li>';
                               }
                               errorList += '</ul>';
                               $('.modal-body').prepend('<div id="divErrorList" class="alert alert-danger">' + errorList + '</div>');
                           }
                       },
                       error: function (error) {
                           alert('Error submitting form');
                       }
                   });
               } else if (
                   result.dismiss === Swal.DismissReason.cancel
               ) {
                   // swalWithBootstrapButtons.fire({
                   // title: "Cancelled",
                   // text: "Your imaginary file is safe :)",
                   // icon: "error",
                   // 	allowOutsideClick: false
                   // });
               }
           });
       });

</script>