@model AvivCRM.UI.Areas.Environment.ViewModels.RecruitCustomQuestionSettingVM;
<style type="text/css">
	
</style>
<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title mt-0" id="myECQModalLabel">Edit Question Details</h5>
		@* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
	</div>
	<div class="modal-body">
		<form id="editFormRecruitCustomQuestionSetting" data-url="Edit" asp-action="Edit" method="post">
			<input type="hidden" asp-for="@Model.Id" />
			<div class="row mt-3 mb-2">
				<div class="col-lg-6">Category</div>
				<div class="col-lg-6">Question <span class="text-danger">*</span></div>
			</div>
			<div class="row mb-2">
				<div class="col-lg-6">
					<select class="form-select" name="CustomQuestionCategoryId" asp-for="@Model.CustomQuestionCategoryId" asp-items="@(new SelectList(Model.CustomQuestionCategoryDDSetting!.CustomQuestionCategoryList, "Id", "CQCategoryName"))">
						<option value="">--</option>
					</select>
				</div>
				<div class="col-lg-6">
					<input asp-for="@Model.CQQuestion" class="form-control" />
				</div>
			</div>
			<div class="row mt-3 mb-2">
				<div class="col-lg-6">Status</div>
				<div class="col-lg-6">Is Required</div>
			</div>
			<div class="row mb-2">
				<div class="col-lg-6">
					<select class="form-select" name="CQStatusId" asp-for="@Model.CQStatusId" asp-items="@(new SelectList(Model.ToggleDDSetting!.toggleValues, "Id", "Name"))">
						<option value="">--</option>
					</select>
				</div>
				<div class="col-lg-6 mt-2">
					<label class="form-check-label me-2"> <input type="radio" asp-for="@Model.CQIsRequiredId" class="form-check-input" value="true" /> Yes </label>
					<label class="form-check-label me-2"> <input type="radio" asp-for="@Model.CQIsRequiredId" class="form-check-input" value="false" /> No </label>
				</div>
			</div>
			<div class="row mt-3 mb-2">
				<div class="col-lg-12">Type</div>
			</div>
			<div class="row mb-2">
				<div class="col-lg-12">
					<select class="form-select" name="CustomQuestionTypeId" asp-for="@Model.CustomQuestionTypeId" asp-items="@(new SelectList(Model.CustomQuestionTypeDDSetting!.CustomQuestionTypeList, "Id", "CQTypeName"))">
						<option value="">--</option>
					</select>
				</div>
			</div>
			<div class="row mt-4 text-end ">
				<div class="col-lg-12 ">
					<button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
					<button type="submit" class="btn btn-sm btn-de-primary" data-save="modal"><i class="mdi mdi-check-all me-2"></i>Update</button>
				</div>
			</div>
		</form>
	</div>
</div><!-- /.modal-content -->
@* <script type="text/javascript">
		$(window).on('load', function() {
		 $('#mdlRecruitCustomQuestionSettingShow').modal({backdrop: 'static', keyboard: false});
		});
	</script> *@